// Navbar Icons Variables
/* MAIN */
$primary-color: #b63030;
$primary-color-hover: #9e2626;
$primary-color-active: #741717;

/* BACKGROUND /SECONDARY */
$bg-color: #d7cec7;
$bg-darker: #cec3bd;

$mobile: 700px;
