@import url('https://fonts.googleapis.com/css2?family=Almarai&family=Bungee&family=Cookie&family=Hurricane&family=League+Gothic&family=Roboto:wght@300&family=Smooch+Sans:wght@300&display=swap');

/* -> Fonts in import:
font-family: 'Almarai', sans-serif;
font-family: 'Bungee', cursive;
font-family: 'Cookie', cursive;
font-family: 'Hurricane', cursive;
font-family: 'League Gothic', sans-serif;
font-family: 'Smooch Sans', sans-serif;
font-family: 'Roboto', sans-serif;
*/
:root {
  --primary-color: #7aa19a;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Smooch Sans', sans-serif; */
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #d7cec7;
  overflow: hidden;
}

header {
  box-shadow: 0 1px 6px black;
  background-color: var(--primary-color);
}

li {
  list-style: none;
  font-weight: 600;
}

.navMenu a,
.name {
  color: black;
}

a {
  text-decoration: none;
}

.name {
  font-size: 1.7em;
  user-select: none;
  font-family: 'League Gothic', sans-serif;
}

/* ---- NAVBAR  --------------------------- */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 1em;
  margin-left: 1em;
  min-height: 6em;
}

.navMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5em;
  font-size: 2em;
  margin-right: 1em;
  margin-left: 1em;
}

.navMenu a {
  transition: 0.4s ease;
  user-select: none;
}

.navMenu li i {
  padding-right: 0.3em;
  display: none;
}

/* ------ NAVMENU HOVERS -------------------------*/

.navMenu a:hover {
  color: white;
}
.navMenu li:hover {
  box-shadow: 0 1px white;
}

/*  --- SEARCHBAR  ---------------------------- */
.searchbar {
  display: flex;
  width: fit-content;
  border-radius: 0.5em;
  align-items: center;
  background-color: white;
  min-height: 1.9em;
  font-size: 1.3em;
  margin-left: 1em;
  margin-right: auto;
  box-shadow: 0 1px 5px black;
}

.searchbar input {
  min-width: 15vw;
  max-width: 30vw;
  min-height: 3vh;
  border: none;
  outline: none;
  font-size: 1rem;
  font-weight: 600;
  padding-left: 2px;
  font-family: 'Roboto', sans-serif;
}

.searchbar input::placeholder {
  color: black;
}

.fa-magnifying-glass,
.fa-xmark {
  padding: 0.2em;
  transition: 0.3s ease;
  cursor: pointer;
}

.fa-magnifying-glass {
  border-radius: 0.5em;
}
.fa-magnifying-glass:hover {
  background-color: #c8c8c8;
}

/* ---- HAMBURGER ----------------------- */
.hamburger {
  display: none;
  cursor: pointer;
  margin-left: 0.8em;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: black;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

/* ----  MEDIA QUERIES ------------------------ */

@media (max-width: 870px) {
  .hamburger {
    display: block;
  }
  .name {
    font-size: 2.2em;
  }

  /* --- Below is the popping up hamburger menu <3 */
  .navMenu {
    position: absolute; /* position: fixed changed for => position: absolute */
    left: -100%;
    top: 90px;
    gap: 0;
    flex-direction: column;
    background-color: var(--primary-color);
    width: 100%;
    text-align: center;
    transition: 0.3s;
    opacity: 0.9;
    z-index: 1;
    margin-left: 0;
  }

  .navMenu li {
    margin: 0.2em 0;
    border-bottom: 1px solid black;
  }

  .navMenu.active {
    left: 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }

  .navMenu.active a:active {
    color: white; /* Makes the nav items white when clicked (mobile display) */
  }

  .navMenu.active li:hover {
    box-shadow: none;
  }

  .navMenu.active li i {
    display: inline-block;
  }

  .navMenu.active .contact {
    margin-bottom: 0;
    border: none;
  }
}

@media (max-width: 1024px) {
  .navMenu {
    font-size: 1.8em;
  }
}

@media (min-width: 2000px) {
  body {
    font-size: 1.5em;
  }
  .searchbar {
    min-height: 1.9em;
  }
  .name {
    padding-right: 2em;
    font-size: 2.5em;
  }
}

@media (max-width: 550px) {
  .footerMenu {
    display: grid;
  }
}

@media (min-width: 550px) {
  .footerMenu {
    display: flex;
  }
}

@media (max-width: 767px) {
  .items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
  }
  .items .product {
    max-width: 40vw;
  }
}

@media (min-width: 768px) {
  .items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2em;
  }
}

@media (max-width: 500px) {
  .items .product {
    max-width: 75vw;
  }
}

@media (min-width: 1000px) {
  .items li {
    max-width: 18vw;
    margin: 0 auto;
  }
  .name {
    font-size: 2.5em;
  }
}

@media (min-height: 1300px) {
  .secondUl,
  div .info {
    margin-top: 0;
  }
}
/* -----  GRID -------------------- */

.gridParent {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: 100%;
}

.items {
  text-align: center;
  margin-left: 1em;
  margin-right: 1em;
  font-size: 1.5em;
  margin-top: 1.5em;
}

ul li {
  justify-self: center;
}

.items li {
  letter-spacing: 0.07em;
  margin: 2px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.items a {
  color: black;
}

.wholeProduct {
  height: max-content;
}

.product {
  display: flex;
  flex-direction: column;
  position: relative;
}

.productName {
  font-family: 'Roboto', sans-serif;
  background-color: white;
}

.productPrice {
  background-color: var(--primary-color);
  color: white;
  letter-spacing: 5px;
}

/* ---- INFO DIV  ------------- */
.info {
  text-align: center;
  line-height: 1.5;
  margin-top: 2em;
}

.info h2 {
  font-size: 2.5em;
  letter-spacing: 0.1em;
  font-family: 'Bungee', cursive;
}

.info p {
  font-size: 1.7em;
  letter-spacing: 0.05em;
  font-family: 'Cookie', cursive;
}

/* ----- INFO MERCH --------------------- */

.merchInfo h2 {
  font-size: 1.5em;
  font-family: 'Almarai', sans-serif;
}

.merchInfo {
  margin-top: 3em;
  text-align: center;
}

/* -------  IMAGES ------------------------ */

img {
  max-width: 100%;
  height: auto;
  object-fit: scale-down;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  user-select: none;
}

/* ----- FOOTER -------- */

.footerMenu {
  justify-content: space-around;
  margin-top: 8em;
  font-size: 1rem;
  background-color: var(--primary-color);
}

.footerMenu li,
.footerMenu a {
  color: black;
}

footer i {
  padding: 0.5em;
}

footer .mail,
.number {
  cursor: default;
}

footer .facebook a:hover {
  color: white;
}

/* Hovered [ Add To Cart ] - button *********** */

.items li {
  position: relative;
}

.fa-cart-plus {
  padding-right: 5px;
}

.addToCart {
  position: absolute;
  padding: 5px;
  z-index: 1;
  top: 55%;
  right: 15%;
  border: none;
  background-color: var(--primary-color);
  color: white;
  font-size: 1rem;
  letter-spacing: 3px;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  transition: 0.35s;
  opacity: 0;
}

.product.active {
  opacity: 0.6;
}

.addToCart.active {
  right: 0;
  opacity: 1;
}

/* SHOPPING CART W/ PRODUCTS ************** */

.shoppingCartContainer {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--primary-color);
  width: fit-content;
  margin-left: auto;
  margin-right: 10em;
  text-align: center;
  padding: 1.5em;
}

.shoppingCartProducts {
  display: flex;
  flex-direction: column;
  border: 1px solid red;
}

/* ! TO DO LIST: ******************************
*/

/* 
.gridParent {
  display: none;
} */
